<div class="content_pages">
    <div class="exit-line">
        <button [routerLink]="['/movies/']" class="circle-btn">
            <svg class="icon-basic">
                 <use xlink:href="assets/sprite.svg#icon-circle-left"></use>
             </svg>
        </button>
    </div>
    <div class="top-content">
        <div class="top-content__img-box">
            <img src="assets/images/movie/{{movie?._id}}.jpg" class="top-content__img" alt="Poster" width="100%">
        </div>
        <div class="top-content__text">
            <h2 class="heading-secondary u-margin-bottom-small">{{movie?.name}}</h2>
            <div class="top-content__item-box u-margin-bottom-small">
                <p class="top-content__item">{{movie?.year}}</p>
                <p class="top-content__item">{{movie?.genre}}</p>
                <p class="top-content__item">{{movie?.duration}}</p>
            </div>
            <!-- <p>{{movie?.description}}</p> / Ovde ne prijavljuje gresku u konzoli-->
            <mov-show-more [text]="movie.description" [textLength]="250" class="text--justify"></mov-show-more>
            <p class="top-content__text--right">Director : {{movie?.director}}</p>
        </div>
    </div>
    <div class="voting">
        <div class="voting__box">
            <span *ngIf="showBtn" class="" title="Double click to vote."><button  class=" plus-minus-btn"  (click)="vote(movie?.rating + 1)">+</button>
                <img src="assets/images/gold_star.png" class="voting__img"> {{movie?.rating}}
            <button  class="plus-minus-btn" (click)="vote(movie?.rating - 1)">-</button></span><br/>
        </div>
    </div>
    <div class="bottom-content">
            <button [routerLink]="['/edit/', movie?._id]" class="_btn">Update movie info</button>
            <button class=" _btn" (click)="showVoteBtn()">Vote</button>
            <button class="_btn" [routerLink]="['comments']">Comment</button>
    </div>
</div>

