@import '../../../styles.scss';

.heart {
	margin-left: 2px;
    margin-right: 2px;
    i {
       @extend .hover--red;
        &:hover {
            @include scale(1.7);
        }       
    }
}
.fb--bcg {
    &:hover {
        color: rgb(0, 119, 181);
    }
}
.inst--bcg {
    &:hover {
        color: rgb(195, 42, 163);
    }
}
.link--bcg {
    &:hover {
        color: rgb(24 ,119, 242);
    }
}
