@mixin scale($factor) {
	-webkit-transform: scale($factor);
 	   -moz-transform: scale($factor);
  		-ms-transform: scale($factor);
  		 -o-transform: scale($factor);
  			transform: scale($factor);
}

@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}
@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

@mixin bcg__blur ( $color, $alpha,  $blur) {
    background-color: rgba($color, $alpha);
    backdrop-filter: blur($blur);
}






