.header {
    text-transform: uppercase;
    height: 100vh;
    background-image: linear-gradient(rgba($color-black, 0.7), rgba($color-black, 0.7)), url("/assets/images/mov.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

}


  