._container {
    margin: 1rem auto;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-black, 1),
        rgba($color-gray-dark-1, 0.800));
}


   
.content{
    margin: 5rem auto;
    padding: 5rem 25rem;
    
}

// .footer {
    
// }