<div class="content_pages">
    <div class="section-top u-margin-bottom-small">
        <div class="section-top__pagination">
            <mov-pagination [currentPage]="parameters.page" [totalItems]="movies?.count" [pageSize]="parameters.pageSize" (pageChange)="updateMovies($event)"></mov-pagination>
        </div>
        <div class="section-top__sort">
            <mov-sort  (changeSorting)="updateSort($event)"></mov-sort>
        </div>
    </div>
    <div class="cards">
        <div class="cards__list" *ngFor="let movie of movies?.results" [class.selected]="movie === selectedMovie" (click)="onSelect(movie)" >
            <mov-movie [movie]="movie" ></mov-movie>
        </div>
    </div>
</div>