<div class="sort-form ">
    <label  class="sort-form__label" for="sort">Sort by:</label>
    <div class="sort-form__select-box">
      <select id="sort" class="sort-form__select" name="sort" (change)="changeSort()" [(ngModel)]="selectedSort">
          <option value="rating">Rating</option>
          <option value="year">Year</option>
      </select>
    </div>
    <button (click)="changeDirection()" class="circle-btn">
      <span *ngIf="descending" >
        <svg class="icon-basic">
          <use xlink:href="assets/sprite.svg#icon-circle-down"></use>
      </svg>
      </span>
      <span *ngIf="!descending">
        <svg class="icon-basic">
          <use xlink:href="assets/sprite.svg#icon-circle-up"></use>
      </svg>
      </span>
    </button>
</div>


