
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@700&display=swap');

$font_title: 'Oleo Script', cursive;
$red_dark: rgb(206, 81, 81);
$color_grey: rgb(167, 161, 161);
$color_light: #f2f2f3;
$color_dark:#e3e2e5;