<div class="content_pages-2">
    <div class="exit-line u-margin-bottom-small">
        <button [routerLink]="['/movies/']" class="circle-btn">
            <svg class="icon-basic">
                    <use xlink:href="assets/sprite.svg#icon-circle-left"></use>
                </svg>
        </button>
    </div>
    <p class="heading-secondary u-center-text">Top movies  > +85 votes <</p>
    <div class="movie-top">
        <div  *ngFor="let movie of topMovies; let i = index;" class="movie-top__list">
            <div class="movie-top__movie" >
                
                <p class="movie-top__name"><span class="movie-top__index">{{i + 1}}</span>{{movie?.name}}</p>
                <img src="assets/images/movie/{{movie?._id}}.jpg" class="movie-top__img" alt="..."   width="100%" height="250px">
            </div>
        </div>
     </div> 
</div>