<div class="content_pages-2">
    <div class="exit-line u-margin-bottom-small">
        <button [routerLink]="['/movies/']" class="circle-btn">
            <svg class="icon-basic">
                    <use xlink:href="assets/sprite.svg#icon-circle-left"></use>
                </svg>
        </button>
    </div>
    <h2 *ngIf="!editMovie" class="heading-secondary text--center">Add new movie</h2>
    <h2 *ngIf="editMovie" class="heading-secondary text--center">Edit movie information</h2>
    <form [formGroup]="movieForm" (submit)="onSubmit()" class="edit-form">
        <div class="edit-form__block">
            <label for="name" class="edit-form__label">Name</label>
            <div class="edit-form__input-block">
                <input formControlName="name" id="name" class=" edit-form__input" type="text" name="name">
                <small class="edit-form__controls" 
                    *ngIf="movieForm.controls.name.touched && movieForm.controls.name.errors?.required">
                        Name is required</small>
            </div>
        </div>
        <div class="edit-form__block">
            <label for="description" class="edit-form__label">Description</label>
            <div class="edit-form__input-block">
                <textarea formControlName="description" id="description" class=" edit-form__textarea" name="description"></textarea>
                <span *ngIf="movieForm.controls.description.touched">
                    <small  *ngIf="movieForm.controls.description.errors?.required" class="edit-form__controls">
                        Description is required</small>
                    <small *ngIf="movieForm.controls.description.errors?.minlength" class="edit-form__controls">
                        Description must be between 10 and 650 characters.</small>
                    <small *ngIf="movieForm.controls.description.errors?.maxlength" class="edit-form__controls">
                        Description must be between 10 and 650 characters.</small>
                </span>
            </div>
        </div>
        <div class="edit-form__block">
            <label for="year" class="edit-form__label">Year</label>
            <div class="edit-form__input-block">
                <input formControlName="year" id="year" class=" edit-form__input" type="text" name="year">
                <span *ngIf="movieForm.controls.year.touched">
                    <small  *ngIf="movieForm.controls.year.errors?.required" class="edit-form__controls">
                        Year is required</small>
                    <small *ngIf="movieForm.controls.year.errors?.minlength" class="edit-form__controls">
                        Year must contain 4 numbers</small>
                    <small *ngIf="movieForm.controls.year.errors?.maxlength" class="edit-form__controls">
                        Year must contain 4 numbers</small>
                </span>
            </div>
        </div>
        <div class="edit-form__block">
            <label for="rating" class="edit-form__label">Rating</label>
            <div class="edit-form__input-block">
                <input formControlName="rating" id="rating" class=" edit-form__input edit-form__rating" type="text" name="rating" readonly placeholder="1-100">
            </div>
        </div>
        <div class="edit-form__block">
            <label for="duration" class="edit-form__label">Duration</label>
            <div class="edit-form__input-block">
                <input formControlName="duration" id="duration" class=" edit-form__input" type="text" name="duration">
                <small class="edit-form__controls" 
                    *ngIf="movieForm.controls.duration.touched && movieForm.controls.duration.errors?.required">
                    Duration is required</small>
            </div>
        </div>
        <div class="edit-form__block">
            <label for="director" class="edit-form__label">Director</label>
            <div class="edit-form__input-block">
                <input formControlName="director" id="director" class=" edit-form__input" type="text" name="director">
                <small class="edit-form__controls" 
                    *ngIf="movieForm.controls.director.touched && movieForm.controls.director.errors?.required">
                    Director is required</small>
            </div>
        </div>
        <div class="edit-form__block">
            <label for="genre" class="edit-form__label">Genre</label>
            <div class="edit-form__select-btn">
                <div class="edit-form__select-block">
                    <select class=" edit-form__select" name="genre" formControlName="genre" id="genre" >
                        <option *ngFor="let genre of genres" class=" edit-form__select-option"  value="{{genre.name}}">{{genre.name}}</option>
                    </select>
                    <small class="edit-form__controls" 
                        *ngIf="movieForm.controls.genre.touched && movieForm.controls.genre.errors?.required">
                        Genre is required</small>
                </div>
                <div class="edit-form__btn-plus">
                    <button title="Enter new Genre" type="button" class="plus-minus-btn" (click)="openGenreForm()">+</button>
                </div>
            </div>
        </div>
        <div class="edit-form__btn-submit">
            <button type="submit" class="_btn" [disabled]="movieForm.invalid">Submit</button>
        </div>
    </form>
    <div *ngIf="genreClicked">
        <form class="edit-form__genre-form">
            <div class="edit-form__block">
                <label for="newGenre" class="edit-form__label">Enter new Genre</label>
                <div class="edit-form__input-block">
                    <input id="newGenre" class=" edit-form__input" type="text" name="newGenre" [(ngModel)]="newGenre">
                </div>
                <div class="edit-form__btn-submit-genre">
                    <button (click)="submitGenre()" class="_btn">Add new genre</button>
                </div>
            </div>
        </form>
    </div>
</div>
