.card--hover {
    &:hover {
        box-shadow: 3px 3px 1px 1px rgb(224, 222, 222);
        border-radius: 15px 30px 30px 5px;
    }  
}
.card__min--hight {
    min-height:450px;
}
.img--position {
    position: relative;
    text-align: center;
    color: white;
  }
  
.img--top-left {
    position: absolute;
    top: 8px;
    left: 16px;
    background-color: rgba(105, 102, 102, 0.7);
    border-radius: 10%;
    padding: 0.2rem 0.5rem;
}
