    <div class="card">
        <div class="card__img">
            <img src="assets/images/movie/{{movie?._id}}.jpg" class="card__img--cover" alt="..." width="100%" height="350px">
            <span class=" card__img--top-left">
                <img src="assets/images/gold_star.png"> {{movie?.rating}}
            </span>
        </div>
        <div class="card__content">
            <div class="card__content--top" *ngIf="movieTop">
                    <h6 class="card__content--text" >{{movie?.name}}</h6>
                    <img src="assets/images/top.png" class="card__content--top--img" width="100%">
            </div>
            <div class="card__content--not-top"  *ngIf="!movieTop" >
                    <h6 class="card__content--text" >{{movie?.name}}</h6>
            </div>
        </div>
        <div class="card__box" [routerLink]="['/movies/', movie?._id]"> 
            <svg class="card__box--icon icon-basic--white ">
                 <use xlink:href="assets/sprite.svg#icon-search"></use>
            </svg>
                <h6  class="card__box--text">{{movie?.name}}</h6>
        </div>
    </div>



